<ion-content>

      <form>
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/av-1.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label position="floating">Correo</ion-label>
                    <ion-input name="email"
                                type="email"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input name="password"
                                type="password"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round"
                          expand="block" fill="outline" (click)="signIn()">
                Login
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>


</ion-content>




