<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>

  <ion-menu-button color="dark" menu="first" slot="start"></ion-menu-button>

  </ion-toolbar>
</ion-header>

<ion-content>

 
</ion-content>
